


/*
 -------------- Logo SECTION --------------
 */

#logo-section {
    padding: 70px 0;
}

#logo-section .logo-section-top-margin {
    height: 10vh;
}

#logo-section img {
    border: 5px solid #00ffff;
    border-radius: 50%;
}

#logo-section h1 {
    color: #00ffff;
    padding-top: 50px; 
}

#logo-section p {
    font-size: 24px;
    color: #ffffff;
}

#logo-section a {
    color: #ffffff;
}

#logo-section i {
    margin: 0 15px;
    text-shadow: 3px 3px 16px #272634;
}

#logo-section a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#logo-section .fab:hover, #logo-section .fas:hover {
    transform: scale(1.3);
}

#logo-section hr {
    border: 2px solid #00ffff;
    width: 5%;
}

/*
 -------------- PROJECTS SECTION --------------
 */

#projects-section {

    padding: 70px 0;
}

#projects-section .card {
    background-color:  #00ffffe0;
    margin: 10px 0;
    border: 2px solid #00ffff;
}

#projects-section h2 {
    color: #ffffff;
}

#projects-section h4 {
    color: #333333;
}

#projects-section p {
    font-size: 1em;
    margin-bottom: 0;
    color: #000000;
}

#projects-section .card-footer {
    padding: 7px;
}

#projects-section a {
    color: #333333;
}

#projects-section a p{
    color: #333333;
    font-size: 0.9em;
}