body {
    background: url("../img/lines.png") no-repeat;
    background-size: cover;
    background-color: #000000;
}

/*
 -------------- TITLE SECTION --------------
 */

 #title-section {
    padding: 70px 0;
    
}

#title-section h1 {
    color: #00ffff;
    padding-top: 50px; 
}

#title-section p {
    font-size: 24px;
    color: #ffffff;
}

#title-section img {
    border: 5px solid #00ffff;
    border-radius: 50%;
}

/*
 -------------- ICONS SECTION --------------
 */

 #icons-section {
    padding: 30px 0;
    background-color: #00ffffe0;
}

#icons-section p {
    font-size: 20px;
    color: #000000;
}

#icons-section span {
    margin: 20px 0; 
}

#icons-section .fa-stack-2x {
    color: #000000;
}

#icons-section .fa-stack-1x {
    color: #00ffff;
}

/*
 -------------- PROJECTS SECTION --------------
 */

 #project-section {
    padding-top: 40px;
    padding-bottom: 70px;
}

#project-section img {
    border: 2px solid #00ffff;
    margin-bottom: 40px;
}

#project-section iframe {
    border: 2px solid #00ffff;
}

#project-section h1 {
    color: #00ffff;
    padding-top: 50px; 
}

#project-section p {
    font-size: 18px;
    color: #ffffff;
}

#project-section h2 {
    color: #00ffff;
    padding: 30px; 
}

#project-section h4 {
    color: #00ffff;
}

#project-section .text-space {
    margin-bottom: 20px; 
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    margin-bottom: 40px;
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}


/*
 -------------- FACTS SECTION --------------
 */

 #facts-section {
    padding: 40px 0;
    background-color: #00ffffe0;
}

#facts-section p {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}

#facts-section h4 {
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
}


